table {
	width: 100%;
}

td {
	border-left-width: 0;
	border-right-width: 0;
}

tr.odd {
	background-color: #EEEEEE;
}

th {
	background-color: #EEEEEE;
}

.novemberator-card {
	max-width: 600px;
	margin: auto;
	text-align: center;
}

.header-image {
  background-image: url('../assets/img/nic-cage-head-256x256.png');
  background-size: cover;
}