<mat-card class="novemberator-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Nic Cage Novemberator</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  	<div>
		<app-api-key-input (entered)="onApiKeyEntered($event)"></app-api-key-input>
		<br />
		<button mat-raised-button (click)="getMovies()">Get Movies</button>
		<br />
		<br />
		See a movie you don't think should be on here? Maybe it's not a proper Nic Cage movie, or it's a documentary? <a href="https://github.com/jrh3k5/NicCageNovemberator/issues">Submit an issue</a>
  	</div>
  	<br />
	<div class="movie-list" *ngIf="movies.length > 0">
		<!-- TODO: use an Angular table -->
		<table cellspacing="0">
			<thead>
				<tr>
					<th>Date</th>
					<th>Movie Title</th>
				</tr>
			</thead>
			<tr *ngFor="let movie of movies; index as i; odd as odd" [ngClass]="{ 'odd': odd }">
				<td>November {{i + 1}}, {{currentYear}}</td>
				<td>{{movie.title}}</td>
			</tr>
		</table>
	</div>
  </mat-card-content>
  <mat-card-actions *ngIf="movies.length > 0">
  	<!-- TODO: put export for Calendar stuff here -->
<!--     <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>