<mat-card class="novemberator-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Nic Cage Novemberator</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  	<div>
		<app-api-key-input (entered)="onApiKeyEntered($event)"></app-api-key-input>
		<br />
    <div class="movie-options">
      <div>
        <input type="checkbox" id="bunny-mode" [checked]="bunnyMode" (change)="toggleBunnyMode()"><label for="bunny-mode" title="Con-Air for Days">Put the Bunny Back in the Box</label>
      </div>
      <div>
        <input type="checkbox" id="popular-mode" [checked]="popularMode" (change)="popularMode = !popularMode"><label for="popular-mode" title="Only get movies with popularity >= 1.0">There's Only Two Men I Trust</label>
      </div>
      <div>
        <input type="checkbox" id="vampiyah-mode" [checked]="vampiyahMode" (change)="toggleVampiyahMode()"><label for="vampiyah-mode" title="Make sure Vampire's Kiss is on the schedule">I'm a Vampiyah!</label>
      </div>
    </div>
    <br />
		<button mat-raised-button (click)="getMovies()">Get Movies</button>
		<br />
		<br />
		See a movie you don't think should be on here? Maybe it's not a proper Nic Cage movie, or it's a documentary? <a href="https://github.com/jrh3k5/NicCageNovemberator/issues">Submit an issue</a>
  	</div>
  	<br />
  	<app-calendar *ngIf="movies.length > 0" [movies]="movies"></app-calendar>
  </mat-card-content>
  <mat-card-actions *ngIf="movies.length > 0">
  	<!-- TODO: put export for Calendar stuff here -->
<!--     <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>