body {
	background-image: url('./assets/img/powered-by-the-movie-db.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;

	margin-top: 0;
}
html, body { height: 100%; padding-top: 20px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
